.main-container {
    background: #dadada;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.heading {
    font-size: 34px;
    border: 3px solid #15bcf4;
    padding: 9px;
    border-radius: 5px;
    background-color: #767979;
}

h1 {
    margin-top: 20px;
    color: #fcf459;
    text-shadow: 1px 1px 10px #f0482f;
}


.form-container {
    background-color: rgb(255, 255, 255);
    width: 350px;
    min-height: 350px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px #11101167;
    border-radius: 8px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}